<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events-IEDC SCTCE</title>
    <link rel="icon" href="../static/icons/IEDC NEW LOGO 1.svg" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/css/event-style.css">
</head>
<body>
    <div class="bg">
        <img src="../static/images/Events Page/College Bg.svg" alt="" class="college-bg-pic">
        <div class="dark-layer"></div>
    </div>
    <div class="header">
        <div class="main-header">
            <div class="title-and-arrow">
                <a href="../templates/user.html"><img src="../static/images/Events Page/back-arrow.svg" alt="" class="back-arrow"></a>
                <p class="title">Events</p>
            </div>
            <div class="search-bar">
                <input type="text" class="search-box" placeholder="Search events">
                <button><img src="../static/images/Events Page/search-icon.svg" alt="" class="search-icon"></button>
            </div>
        </div>
        <div class="tags-header">
            <button class="active-tag tag">All Events</button>
            <button class="tag">Live Now</button>
            <button class="tag">Coming Soon</button>
            <button class="tag">Core Events</button>
            <button class="tag">Workshop & Quizzes</button>
            <button class="tag">Non-Technical</button>
            <button class="tag">Talks</button>
        </div>
    </div>
    <div class="event-details">
        <div class="event">
            <div class="poster">
                <img src="../static/images/Events Page/Event Poster.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <h1 class="event-name">Event Name 1</h1>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced.
                    <br>
                    Registration Fee : $3
                    <br>
                    Prize money : $50
                    <br>
                    Date and Time : 25th - 29th June, 3pm - 12am</p>
            </div>
        </div>
        <div class="event">
            <div class="poster">
                <img src="../static/images/Events Page/Event Poster.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <h1 class="event-name">Event Name 1</h1>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced.
                    <br>
                    Registration Fee : $3
                    <br>
                    Prize money : $50
                    <br>
                    Date and Time : 25th - 29th June, 3pm - 12am</p>
            </div>
        </div>
        <div class="event">
            <div class="poster">
                <img src="../static/images/Events Page/Event Poster.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <h1 class="event-name">Event Name 1</h1>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced.
                    <br>
                    Registration Fee : $3
                    <br>
                    Prize money : $50
                    <br>
                    Date and Time : 25th - 29th June, 3pm - 12am</p>
            </div>
        </div>
        <div class="event">
            <div class="poster">
                <img src="../static/images/Events Page/Event Poster.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <h1 class="event-name">Event Name 1</h1>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced.
                    <br>
                    Registration Fee : $3
                    <br>
                    Prize money : $50
                    <br>
                    Date and Time : 25th - 29th June, 3pm - 12am</p>
            </div>
        </div>
        <div class="event">
            <div class="poster">
                <img src="../static/images/Events Page/Event Poster.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <h1 class="event-name">Event Name 1</h1>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced.
                    <br>
                    Registration Fee : $3
                    <br>
                    Prize money : $50
                    <br>
                    Date and Time : 25th - 29th June, 3pm - 12am</p>
            </div>
        </div>
        <div class="event">
            <div class="poster">
                <img src="../static/images/Events Page/Event Poster.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <h1 class="event-name">Event Name 1</h1>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced.
                    <br>
                    Registration Fee : $3
                    <br>
                    Prize money : $50
                    <br>
                    Date and Time : 25th - 29th June, 3pm - 12am</p>
            </div>
        </div>
        <div class="event">
            <div class="poster">
                <img src="../static/images/Events Page/Event Poster.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <h1 class="event-name">Event Name 1</h1>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced.
                    <br>
                    Registration Fee : $3
                    <br>
                    Prize money : $50
                    <br>
                    Date and Time : 25th - 29th June, 3pm - 12am</p>
            </div>
        </div>
        <div class="event last-event">
            <div class="poster">
                <img src="../static/images/Events Page/Event Poster.jpg" alt="image of poster" class="event-poster">
            </div>
            <div class="content-part">
                <div class="content-header">
                    <h1 class="event-name">Event Name 1</h1>
                    <div class="copy-to-clipboard-registerBtn">
                        <button class="copy-clipboard"><img src="../static/images/Events Page/copy-icon.svg" alt="" class="copy"></button>
                        <button class="register active-tag tag">Register</button>
                    </div>
                </div>
                <p class="content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced.
                    <br>
                    Registration Fee : $3
                    <br>
                    Prize money : $50
                    <br>
                    Date and Time : 25th - 29th June, 3pm - 12am</p>
            </div>
        </div>
    </div>    
</body>
</html>